name: CI-CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Obter o código do projeto
        uses: actions/checkout@v4

      - name: Autenticação no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Construção e envio da imagem Docker
        uses: docker/build-push-action@v6
        with:
          context: ./src
          push: true
          file: ./src/Dockerfile
          tags: |
            lfogaca34/fake-shop:latest
            lfogaca34/fake-shop:v${{ github.run_number }}

  cd:
    runs-on: ubuntu-latest
    needs: [ci]
    steps:
      - name: Autenticação na AWS
        run: echo "Executando o comando aws configure"

      - name: Configurar o kubectl
        run: echo "Executando o comando aws update-kubeconfig"

      - name: Deploy dos manifestos no Kubernetes
        run: echo "Executando o comando kubectl apply"




         
    
